<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Company page</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My First Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home Page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>

        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="naglowek">
                <h1 th:text="'Update to '+ ${updatecourse.courseName}">Welcome</h1>
            </div>
            </div>
            </div>
                <div class="container">
                <form th:method="POST"  th:action="@{/api/course}" th:object="${updatecourse}" >

                    <input type="hidden" th:field="*{id}">

                    <div class="form-group blu-margin">
                        <label for="courseName">Enter name: </label>
                        <br>
                        <input type="text" th:field="*{courseName}" id="courseName" placeholder="Example JAVA"/>
                        <div style="color:red" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}">Course name</div>
                    </div>
                    <div class="form-group blu-margin">
                        <label for="duration">Course duration month: </label>
                        <br>
                        <input type="text" th:field="*{duration}" id="duration" placeholder="3"/>
                        <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">duration</div>
                    </div>

                    <div class="form-group blu-margin">
                        <select class="form-control" th:field="*{company.id}"  id="companylist">
                            <option value="0">select company</option>
                            <option th:each="company : ${companylist}"
                                    th:value="${company.id}"
                                    th:text="${company.name}"></option>
                        </select>
                    </div>

                    <input type="submit" value="Update..."/>
                </form>
                </div>

            </div>

</body>
</html>